<div class="addUser">
    <form action="__CONTROLLER__/addUser" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加用户</h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="name">
                   用户名称
                </label>
                <input type="text" class="form-control" name="username" id="name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="password">
                    用户密码
                </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password">
            </div>
            <div class="form-group">
                <label for="repassword">
                    重复密码
                </label>
                <input type="password" class="form-control" name="repassword" id="repassword" placeholder="repeat password">
            </div>
            <div class="form-group">
                <label for="email">
                    电子邮件
                </label>
                <input type="email" class="form-control" name="email" id="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="remark">
                    用户描述
                </label>
                <input type="text" class="form-control" name="remark" id="remark" placeholder="remark">
            </div>
            <div class="form-group mulitSelect-box">
                <label for="mulitSelect">
                    选择角色
                </label>
                <input type="text" class="form-control"  autocomplete="off" id="mulitSelect" placeholder="select role"  >
                <ul class="checkList">
                    <foreach name="roles" item="role">
                        <li>
                            <label class="checkbox-inline">
                                <input name="roleId[]" type="checkbox" value="{$role.id}">{$role.name}
                            </label>
                        </li>
                    </foreach>
                </ul>
            </div>

            <div class="checkbox">
                <label>
                    <input name="status" checked="checked" value="1" type="checkbox">是否启用
                </label>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
</div>

<script>
    jQuery(document).ready(function($) {

        $("#mulitSelect").on("click",function(event){
            event.stopPropagation();
            $selectList = $(this).parents(".mulitSelect-box").find(".checkList");
            if($selectList.is(":hidden")){
                $selectList.slideDown("300");
            }else{
                 $selectList.slideUp("300");
            }
        })

        $(".checkList input").on("change",function(){
            var val = '';
            $(".checkList input").each(function(){
                 if( $(this).prop('checked')){
                   val += $(this).parent().text().trim()+';';

                 }
            })
            $("#mulitSelect").val(val);
        })

        $(".checkList").on("click",function(){
            event.stopPropagation();
        })
        $(".addUser").on("click",function(){
            $(".checkList").slideUp("300");
        })

    });
</script>