html {
  height: 100%;
}
body {
  font-family: "Microsoft Yahei";
  padding-top: 40px;
  overflow: hidden;
  height: 100%;
}
#header {
  position: fixed;
  width: 100%;
  height: 40px;
  margin-top: -40px;
  z-index: 1000;
  background-color: #222222;
  box-shadow: -3px 2px #444;
}
#header .badge {
  background-color: #e22e2e;
  margin-left: 5px;
}
#header .container button {
  display: none;
  border: none;
}
#header .container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#header .container ul li {
  float: left;
}
#header .container ul li a {
  color: #777;
  font-size: 12px;
  line-height: 12px;
  padding: 14px 10px;
  display: inline-block;
}
#header .container ul li a span {
  margin-right: 5px;
}
#header .container ul li a:hover {
  color: #e22e2e;
}
#navList {
  width: 260px;
  background-color: #222;
  height: 100%;
  position: fixed;
}
#navList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#navList ul li {
  margin-left: 20px;
}
#navList ul li a {
  border-bottom: 1px solid #333;
  height: 40px;
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #777;
}
#navList ul li a:hover {
  color: #e22e2e;
}
#navList ul li a span {
  line-height: 40px;
  margin-right: 15px;
  transition: all 1s;
}
#navList ul li ul {
  display: none;
}
#main {
  position: absolute;
  left: 260px;
  right: 0px;
  top: 40px;
  bottom: 0px;
  overflow: auto;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  html,
  body {
    height: auto;
  }
  body {
    overflow: auto;
  }
  #header .container button {
    margin: 4px 0;
    padding: 0;
    border: 1px solid #777;
    background-color: #111;
  }
  #header .container button span {
    color: #777;
    font-size: 20px;
    line-height: 20px;
    padding: 4px 10px;
  }
  #header .container .brand {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -60px;
  }
  #header .container button {
    display: inline-block;
  }
  #navList {
    display: none;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0px;
    height: auto;
  }
  #navList ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  #main {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
  }
}
/* addUser page */
.editUser .mulitSelect-box,
.addUser .mulitSelect-box {
  position: relative;
}
.editUser .mulitSelect-box .checkList,
.addUser .mulitSelect-box .checkList {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: -2px;
  z-index: 1;
  border-bottom: 1px solid #66afe9;
  border-left: 1px solid #66afe9;
  border-right: 1px solid #66afe9;
  box-shadow: 0 0px 3px #66afe9;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  list-style: none;
}
.editUser .mulitSelect-box .checkList li,
.addUser .mulitSelect-box .checkList li {
  padding-left: 15px;
}
.editUser .mulitSelect-box .checkList li label,
.addUser .mulitSelect-box .checkList li label {
  margin: 6px 0;
  width: 100%;
}
/* login page css */
.login {
  background-color: #f1f1f1;
}
.login-box {
  margin-top: 30px;
  width: 320px;
}
.login-box .login-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  height: 80px;
}
.login-box .login-content {
  background-color: #ffffff;
  padding: 30px 20px 20px;
}
.login-box .login-content img {
  height: 34px;
}
/*nodeList*/
.nodeList .addNodeButton {
  margin-bottom: 20px;
}
.nodeList .module {
  border: 1px solid #ddd;
  padding: 20px 20px 0 20px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 3px;
}
.nodeList .module .title {
  display: inline-block;
}
.nodeList .module .panel .panel-body {
  text-align: center;
}
.nodeList .module .panel .panel-body div {
  margin-bottom: 10px;
}
.addButton {
  margin-bottom: 20px;
}
/* roleList page */
.uerList .table thead th,
.roleList .table thead th,
.attributeList .table thead th,
.AlbumList .table thead th {
  text-align: center;
}
.uerList .table tbody td,
.roleList .table tbody td,
.attributeList .table tbody td,
.AlbumList .table tbody td {
  text-align: center;
}
/* removeRole page */
.removeUser .modal-body,
.removeRole .modal-body {
  height: 80px;
}
.removeUser .modal-body .icon,
.removeRole .modal-body .icon {
  font-size: 48px;
  line-height: 48px;
  color: #e22e2e;
  height: 60px;
  text-align: center;
}
.removeUser .modal-body .msg,
.removeRole .modal-body .msg {
  height: 60px;
}
/* addAlbum page */
.addAlbum .cover {
  margin-bottom: 20px;
}
.addAlbum .crop-box {
  padding-bottom: 66.66666667%;
  background-color: #eee;
  padding-left: 0px;
  padding-right: 0px;
}
.addAlbum .crop-box img {
  top: 0;
  width: 100%;
}
.addAlbum .preview {
  /* border: 1px solid #eee;
		padding: 50% */
  overflow: hidden;
}
.addAlbum .preview img {
  width: 100%;
}
#picker {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -43px;
  margin-top: -20px;
}
/* AlbumList page */
.AlbumList .album {
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px #777;
  border-radius: 2px;
  width: 170px;
  padding: 5px;
}
.AlbumList .album .album-pic {
  position: relative;
}
.AlbumList .album .album-pic .edit {
  position: absolute;
  top: 0;
  right: 0;
}
.AlbumList .album .album-pic .edit .edit-button {
  border: none;
  background-color: #fff;
  opacity: 0.8;
}
.AlbumList .album .Album-title {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-indent: 10px;
}
@media screen and (max-width: 768px) {
  .AlbumList .album {
    margin-bottom: 10px;
    width: 125px;
    padding: 2px;
  }
  .AlbumList .album .album-pic img {
    width: 100%;
  }
}
/* add picture page */
.addPicture .filePicker {
  text-align: center;
}
.addPicture .modal-body .upload-done {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -25px;
  color: green;
}
.addPicture .modal-body .upload-error {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -25px;
  color: red;
}
/* picture list page */
.pictureList .modal .picture-box {
  text-align: center;
}
.pictureList .modal .picture-box img {
  max-width: 100%;
  max-height: 450px;
}
.pictureList .thumb-box {
  margin-bottom: 20px;
}
.pictureList .thumb-box .thumbnail {
  height: 220px;
  width: 220px;
  display: table-cell;
  vertical-align: middle;
}
.pictureList .thumb-box .delPicture {
  position: absolute;
  margin-top: -21px;
  margin-left: 1px;
  background-color: #fff;
  height: 20px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  .pictureList .modal .picture-box {
    text-align: center;
    margin-top: 100px;
  }
  .pictureList .thumb-box {
    margin-bottom: 20px;
  }
  .pictureList .thumb-box .thumbnail {
    height: 125px;
    width: 125px;
    display: table-cell;
    vertical-align: middle;
  }
}
/* articleList page */
.articleList .right-side .cover-box {
  height: 130px;
  background-color: #f1f1f1;
  position: relative;
}
.articleList .right-side .cover-box .filePicker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -20px;
}
.articleList .right-side .cover-box .cover-picture {
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100%;
}
.articleList .right-side .cover-box .cover-picture .delete-picture {
  height: 40px;
  background-color: rgba(4, 4, 4, 0.5);
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;
}
.articleList .right-side .cover-box .cover-picture .delete-picture span {
  font-size: 24px;
  color: #fff;
  line-height: 40px;
}
.articleList .right-side .category-select .box {
  border: 1px solid #ccc;
  padding-left: 15px;
  height: 95px;
  overflow: auto;
}
.articleList .right-side .category-select .box .child {
  padding-left: 20px;
}
.articleList .right-side .upload-error {
  height: 130px;
  background-color: #f1f1f1;
  vertical-align: middle;
  text-align: center;
  color: red;
  line-height: 130px;
}
/* login page media*/
@media screen and (max-width: 768px) {
  .login {
    background-color: #ffffff;
  }
}
