

<div class="AlbumList">

    <ol class="breadcrumb">
        <li><a href="__MODULE__">{$Think.MODULE_NAME}</a></li>
        <li><a href="__CONTROLLER__">{$Think.CONTROLLER_NAME}</a></li>
        <li class="active">{$Think.ACTION_NAME}</li>
    </ol>


    <div class="addButton">
        <button data-remote="__CONTROLLER__/addAlbum" id="addNodeHandler" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
            <span class="glyphicon glyphicon-plus"></span> 添加相册
        </button>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">


                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div><!--addNodeButton-->

    <foreach name="data" item="item">
        <div class="col-xs-6 col-md-3">
            <div class="album">
                <div class="album-pic">
                    <a href="__CONTROLLER__/pictureList/aid/{$item.id}">
                        <img class="img-rounded" src="__PUBLIC__{$item.cover}" alt="">
                    </a>
                    <div class="edit btn-group">
                        <button type="button" class="edit-button dropdown-toggle" data-toggle="dropdown">

                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu  dropdown-menu-right" role="menu">
                            <li><a href="__CONTROLLER__/removeAlbum/aid/{$item.id}" >删除</a></li>
                            <li><a data-toggle="modal" data-target="#modal" href="__CONTROLLER__/editAlbum/id/{$item.id}" >编辑</a></li>
                        </ul>
                    </div>
                </div>
                <div class="Album-title"> {$item.title}</div>
            </div>
        </div>
    </foreach>





<!--

    <table class="table table-hover">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th width="200">相册封面</th>
            <th width="200">属性名称</th>
            <th width="100">是否显示</th>
            <th width="300">操作</th>
        </tr>
        </thead>
        <tbody>
        <foreach name="data" item="item">
            <tr>
                <td> {$item.id}</td>

                <td><img src="__PUBLIC__{$item.cover}" alt=""></td>
                <td> {$item.title}</td>
                <td>
                    <if condition="$item.status eq 1">显示
                        <else/>隐藏
                    </if>
                </td>
                <td>
                    <a href="__CONTROLLER__/removeAttribute/id/{$item.id}" >删除</a>&nbsp;
                    <a data-toggle="modal" data-target="#modal" href="__CONTROLLER__/editAlbum/id/{$item.id}" >编辑</a>&nbsp;
                </td>
            </tr>
        </foreach>
        </tbody>

    </table>


    -->

</div>


